DATASOURCE_JDBC_URL=jdbc:mysql://localhost:3306/webstore-dev
DATASOURCE_USERNAME=username
DATASOURCE_PASSWORD=password

SERVER_PORT=8080
SERVER_ADDRESS=0.0.0.0

# 1 Mebibyte (2^20)
MAX_IMAGE_SIZE=1048576
DEFAULT_UPLOAD_DIR=uploads/images/
DEFAULT_ACCESS_SRC=http://localhost:8080/resources/images/